@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

/* COMMON STYLES */
.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;

  margin-bottom: 100px;
}

.primary-orange-color {
  color: #ff5400;
}

.btn-primary {
  background: #ff5400;
  color: white;
  padding: 14px 24px;
  border-radius: 8px;
  border: none;
  width: 174px;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 24px;
}

p {
  color: #5a5a5d;

  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
/* NAVBAR STARTS */

nav {
  display: flex;
  align-items: center;
}
.nav-icon {
  display: flex;
  align-items: center;
  width: 50%;
}

.nav-icon img {
  margin-right: 10px;
}

.nav-icon h3 {
  color: #131318;

  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
}
.nav-items {
  width: 50%;
}

.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#hamburger {
  display: none;
}

/* NAVBAR ENDS */

/* BANNER STARTS */
.bg-img {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");

  /* background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png'); */
  border-radius: 16px;
  background-repeat: no-repeat;
  min-height: 400px;
  background-size: cover;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 106px 185px; */
  text-align: center;
  width: 80%;
  margin: 106px auto;
  padding: 50px;
}

.banner-content h2 {
  color: #fff;

  font-family: Mulish;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.banner-content p {
  color: #fff;

  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 48px;
}

.banner-input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);

  padding: 16px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

input {
  width: 80px;
  border-radius: 8px;
  padding: 16px;
  color: rgba(19, 19, 24, 0.5);

  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  outline: none;
  border: none;
  /* margin-right: 24px; */
  width: 174px;
}
select {
  width: 174px;
  border-style: none;
  border-radius: 8px;
  padding: 16px;
  color: rgba(19, 19, 24, 0.5);

  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  /* margin-right: 24px; */
}

/* BANNER ENDS */

/* POPULAR STARTS */

.popular-tour-container {
  display: flex;
  justify-content: space-between;
}
.popular-tour-content {
  width: 45%;
}

.popular-tour-content li {
  margin-bottom: 16px;
  color: rgba(19, 19, 24, 0.7);

  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
}

.popular-tour-content ul > li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin: 18px;
}
.popular-tour-content {
  width: 45%;
}
.popular-tour-img img {
  max-width: 540px;
  height: 550px;
}

/* POPULAR ENDS */

/*  DESTINATION STARTS*/

.destination-img p {
  color: #fff;

  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.destination-content {
  text-align: center;
  width: 56%;
  margin: 0 auto;
}

.destination-img {
  display: flex;
  margin-bottom: 24px;
  gap: 24px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.destination .Maldives {
  position: absolute;
  margin-top: 11%;
  left: 29%;
  transform: translate(-50%, -50%);
}
.destination .Indonesia {
  position: absolute;
  margin-top: 11%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.destination .Srilanka {
  position: absolute;
  margin-top: 9%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.destination .North-America {
  position: absolute;
  margin-top: 9%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.destination .Kashmir {
  position: absolute;
  margin-top: 9%;
  left: 78%;
  transform: translate(-50%, -50%);
}
.destination .Bangladesh {
  position: absolute;
  margin-top: 9%;
  left: 27%;
  transform: translate(-50%, -50%);
}
.destination .Bandarban {
  position: absolute;
  margin-top: 9%;
  left: 66%;
  transform: translate(-50%, -50%);
}

/* DESTINATION ENDS */

/* CHOOSE STARTS */

.choose-content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.choose-img {
  margin-bottom: 32px;
}

.choose-description h4 {
  margin-bottom: 16px;
  color: #131318;

  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}

.choose-options {
  display: flex;
  align-items: center;
}

.option-des {
  padding: 55px;
  margin: 32px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
}

.best-price {
  /* width: 50%;
margin: 0 auto; */
  margin: 0 auto;
  width: 50%;
}

/* CHOOSE ENDS */

/* NEWSLETTER STARTS */

.newsletter-description {
  display: flex;
  /* gap: 24px; */
}

.newsletter-content {
  width: 40%;
  padding: 30px;
}
.newsletter-inputs {

}

.newsletter-input {
  width: 100%;
  margin-bottom: 16px;

  border-radius: 8px;
  border-style: none;
  background-color: rgba(19, 19, 24, 0.05);
}

.newsletter-inputs button {
  width: 100%;
}

.newsletter-img {
  width: 60%;
  position: relative;
}

.newsletter-img img {
  width: 100%;
  object-fit: cover;
}

.newsletter-save p {
  color: #fff;

  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.newsletter-save h2 {
  color: #fff;

  font-family: Mulish;
  font-size: 1.5rem;
  font-weight: 800;
 

}

.newsletter-save {
  text-align: center;
background-color: #FF5400;
  width: 324px;
  height: 100px;
  border-radius: 16px;
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: rotate(-19.628deg);

}

/* NEWSLETTER ENDS */


/* FOOTER STARTS */
footer{
  text-align: center;
  background-color: rgba(19, 19, 24, 0.05);;
}

.footer-logo{
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.footer {
  padding: 120px 0 120px 0px;
}
footer .container {
  margin-bottom: 0;
}

/* FOOTER ENDS */

/* ............................................ */

/* MEDIA QUERY FOR MOBILE */
@media screen and (max-width: 600px) {
  .nav-icon {
    width: 50%;
  }

  .nav-items {
    display: none;
  }

  #hamburger {
    width: 50%;
  
    display: block;
    text-align: right;
    padding: 20px;
    float: right;
    font-size: 200%;
  }

  /* BANNER */

  .banner {
    width: 100%;
    /* margin: 32px 24px; */
  }

  /* .banner-content{
    width: 100%;
  } */

  .banner-content {
    width: 80%;
  }

  .banner-input {
    flex-direction: column;
    width: 90%;
  }
  .bg-img {
    width: 100%;
    /* object-fit: cover; */
    background-size: cover;
    /* overflow: hidden; */
    min-width: auto;
  }

  select,
  input {
    width: 100%;
    margin-bottom: 16px;
  }

  /* BANNER ENDS */

  /* POPULAR */

  .popular-tour-container {
    flex-direction: column;
  }
  .popular-tour-content,
  .popular-tour-img {
    width: 100%;
    overflow: auto;
    margin-bottom: 14px;
  }
  .popular-tour-img img {
    width: 100%;
  }

  /* POPULAR ENDS */

  /* DESTINATION STARTS */

  .destination-content {
    width: 80%;
  }

  .destination-img {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .destination-img img {
    width: 100%;
    height: 100%;
  }
  .destination .Maldives {
    margin-top: 28%;
    left: 50%;
  }
  .destination .Indonesia {
    margin-top: 75%;
    left: 50%;
  }
  .destination .Srilanka {
    margin-top: 35%;
    left: 50%;
  }
  .destination .North-America {
    margin-top: 100%;
    left: 50%;
  }

  .destination .Kashmir {
    margin-top: 175%;
    left: 53%;
  }
  .destination .Bangladesh {
    margin-top: 30%;
    left: 52%;
  }
  .destination .Bandarban {
    margin-top: 82%;
    left: 50%;
  }

  /* DESTINATION ENDS */

  /* CHOOSE STARTS */

  .choose-options {
    flex-direction: column;
  }

  .best-price {
    width: 90%;
    margin: 0 auto;
  }

  /* CHOOSE ENDS */

  /* NEWSLETTER STARTS */
  .newsletter-description {
    flex-direction: column;
  }

  .newsletter-content {
    width: 100%;
  }

  .newsletter-img{
    width: 100%;
  }

  
  .newsletter-save{
    width: 20%;
    width: 214.023px;
height: 79.268px;
  }
}
